 <% if  @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
<div class="container-fluid">
        <div class="page-header clearfix">
          <div class="pull-left">
            <h2><%=@title%></h2>
          </div>
        </div>
      <table class="table table-hover">
              <thead>
		<tr>
			<th>#</th>
			<th><%= t('Report Date') %></th>
			<th><%= t('Reported By') %></th>
			<th><%= t('Report') %></th>
                                                 <th><%= t('From') %></th>
			<th><%= t('To') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
                        <th></th>
	  	</tr>
                </thead>
                <tbody>
		<% models.each do |r| %>
		  <tr>
		  	<% if has_action_right?('show_' + r.report_for, params[:controller], r) %>
		  	  <td><%= link_to r.id, SUBURI + "/authentify/view_handler?index=1&url=#{report_path(r, :subaction => r.report_for)}"  %></td>
		  	<% else %>
		  	  <td><%= r.id %></td>
		  	<% end %>
		  	<td><%= r.report_date.strftime("%Y/%m/%d") %></td>
		  	<td><%= prt(r, 'reported_by.name') %></td> 
			<td><%= simple_format(h r.thing_did[0..255]) %></td> 
			<td><%= r.report_from_date.strftime("%Y/%m/%d") if r.report_from_date.present? %></td>
			<td><%= r.report_to_date.strftime("%Y/%m/%d") if r.report_to_date.present? %></td>
			<td><%= prt(r, 'last_updated_by.name') %></td>    
            <td><%= link_to '日志报告便签', SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(commonx.logs_path(:resource_name => 'status_reportx/reports', :resource_id => r.id, :subaction => 'status_report'))}" if has_action_right?('index_status_report', 'commonx/logs') %></td>
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape edit_report_path(r, :subaction => r.report_for)}", :class => BUTTONS_CLS['action']  if has_action_right?('update_' + r.report_for, params[:controller], r) %></td>
		  </tr>
		<% end %>
	  </tbody>
       </table>
	
	<div class="btn-toolbar">
	   	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	<%= link_to t('New Report'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape new_report_path(:resource_id => @resource_id, :resource_string => @resource_string, :report_for => @report_for, :subaction => @report_for)}", :class => BUTTONS_CLS['action']  if @report_for && @resource_id.present? && @resource_string.present? && has_action_right?('create_' + @report_for, params[:controller]) %>
	</div>
</div>
	
<% end %>
	
