<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div id="main_body">
<div class="container">
  <div class="page-header clearfix">
      <div class="pull-left">
        <h2><%=@title%></h2>
      </div>
    </div>
 <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
         <b><%= t('Reported By') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
         <%= @report.reported_by.name if @report.reported_by_id.present? %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
             <b><%= t('Report Date') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
           <%= @report.report_date.strftime('%Y/%m/%d') if @report.report_date.present? %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
         <b><%= t('Report') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
           <%= simple_format(h @report.thing_did) %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
          <b><%= t('From') %></b>
     </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
            <%= @report.report_from_date.strftime('%Y/%m/%d') if @report.report_from_date.present? %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
           <b><%= t('To') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
           <%= @report.report_to_date.strftime('%Y/%m/%d') if @report.report_to_date.present? %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
            <b><%= t('Last Updated By') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
            <%= @report.last_updated_by.name %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
          <b>LOG：</b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
             <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @report.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
                     <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%=h t.log %> </li>
             <% end %>
    </div>
   </div>
   <div class="btn-toolbar">
     <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
  	 <%= link_to t('Delete'), report_path(@report, subaction: @report.report_for), :method => :delete, :confirm => I18n.t('Delete the record?'), :id => 'btn1_link', :class => BUTTONS_CLS['danger'] if has_action_right?('destroy_' + @report.report_for, params[:controller], @report) %> 
     <%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @report.id, :resource_name => params[:controller], :subaction => 'status_' + @report.report_for, :format => :js), :remote => true, 
                          :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create_status_' + @report.report_for, 'commonx/logs') %>
    </div>  
 </div>
	
</div>
<% end %>
